
// tablet
@media only screen and (max-widht: 768px) {
  .header__wrap {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 53px;
  }

  .header__nav {
    margin-top: 10px;
  }

  .hero{
    
  }


}

// mobile

@media only screen and (max-width: 320px) {
  .header__menu {
    display: inline-block;
  }
  .header__wrap {
    flex-direction: row-reverse;
  }

  .header__nav {
    display: none;
  }
}
